{% extends 'base.html' %}

{% block head%}


{% endblock %}

{% block body %}

<form id ="card_form">
    <label for="cardnumber">Credit Card Number:</label>
    <input type="text" id="cardnumber" name="cardnumber" required>
    <label for="cardholder">Card Holder:</label>
    <input type="text" id="cardnumber" name="cardnumber" required>
    <label for="cardnumber">Expiration Date:</label>
    <input type="text" id="cardnumber" name="cardnumber" required>
    <label for="ceardnumber">Security Code:</label>
    <input type="text" id="cardnumber" name="cardnumber">
    <label for="cardnumber">Amount:</label>
    <input type="text" id="cardnumber" name="cardnumber" required>
    <input type="submit" style="margin-top: 15px">
</form>

{% endblock %}